.about {
  margin-top: 2.5%;
}
.the-row {
  margin-bottom: 5%;
}
.about_us {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  margin-right: 2rem;
  display: inline-flex;
  margin-bottom: 25px;
}
.about_us img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
}
.about button {
  background: none;
  border: 0;
}
.about-intro {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.objectifs,
.organigram {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
