.home-acceuil {
  border: 1px solid red;
  background: url("./acceuil.png") no-repeat center center fixed;
}

/* .banner {
  /* border: 1px solid red; */
/*background: url("/logo.png") no-repeat center center fixed;
  background-size: 50%;
  width: auto;
  height: 75vh;
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  position: relative;
} */
.header {
  /* border: 1px solid red; */
  margin-left: 3rem;
  margin-top: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
/* .content-home {
  border: 1px solid magenta;
}
.adds {
  border: 1px solid yellow;
} */
h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.card-prq {
  /* border: solid 3px #e2ebec; */
  border-radius: 2.5rem;
  /* padding: 25px; */
  margin-bottom: 2rem;
  margin-right: 15px;
  position: relative;
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  max-width: 200px;
  box-shadow: 5px 5px 5px 5px #e9c98e;
}
.inner-card {
  border-radius: 2.5rem;

  border: solid 2px #f7a715;
  background-color: bisque;
  max-zoom: 1.5rem;
}
.quote {
  position: relative;
}

.card-autisme {
  /* border: 1px solid red; */
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
}
.card-autisme h1 {
  padding-bottom: 1rem;
}

.imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-partener {
  margin: 3rem auto;
}

.partner {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin-right: 2rem;
  display: inline-flex;
  margin-bottom: 25px;
}
.partner img {
  border: 1px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
}
