.sideBar {
  /* border: 1px solid red; */
  height: 100%; /* 100% Full-height */
  width: 5%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  /*background-color: #2b6789; /*  659dbd Blue*/
  background-color: #1480a3;
}
.sideBar:hover {
  width: 10%;
}
span {
  margin-left: 5%;
}
.asidebar-nav {
  margin-top: 50%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.asidebar-nav {
  margin-top: 50%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.asidebar-top {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.asidebar-top a {
  /* border: 1px solid red; */
  text-decoration: none;
  color: #e2ac7c;
  margin-bottom: 50%;
}
.asidebar-bottom {
  /* border: 1px solid red; */
  position: relative;
  bottom: 0;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.asidebar-bottom a {
  text-decoration: none;
  color: #e2ac7c;
}
.sideBar a:hover {
  color: rgb(247, 167, 21);
}

/* navbar styling */
.navBar {
  /* border: 1px solid black; */
  background-color: white;
  box-shadow: 0 0 5px rgb(247, 196, 102);
  columns: 100vh auto;
}
.navBar a {
  text-decoration: none;
  color: #1480a3;
}

.sticky {
  /* border: 1px solid black; */
  background-color: white;
  box-shadow: 0 0 15px rgb(249, 196, 96);
  position: sticky;
  transition: 0.4s;
  width: 100%;
  top: 0;
  z-index: 99;
}
.footer {
  /* border: 1px solid black; */
  position: sticky;
  transition: 0.4s;
  width: 100%;
  margin: 40vh auto 0 auto;
}

/* .banner {
  /* border: 1px solid red; */
/* background: url("logo.png") no-repeat center center fixed;
  background-size: 50%;
  width: auto;
  height: 75vh;
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  position: relative;
}
.header {
  /* border: 1px solid red; */
/* margin-left: 3rem;
  margin-top: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
} */
